* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    background-color: white;
    width: device-width;
    margin: 0px;
    grid-gap: 20px;
    grid-template-areas:
        "header header"
        "input input"
        "output output";
}

header {
    background-color: white;
    text-align: center;
    border-radius: 10px;
    grid-area: header;
    width: 100%;
    margin: auto;
}

form {
    background-color: white;
    border-radius: 5px;
    padding: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inputAreaField,
#outputAreaField,
fieldset {
    width: 500px;
    min-height: 25em;
    border: 1px solid black;
    font-size: 14px;
    border-radius: 7px;
    margin: auto; 
    margin-bottom: 10px;
    padding: 1em;
    display: inline;
}
#resultForm, button {
    display: none;
}
button {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form > input, form > button {
    height: 3em;
    width: 500px;
    border: 1px solid black;
    border-radius: 7px;
    margin: auto;
    margin-bottom: 10px;
    background-color: rgb(230, 230, 230);
}
fieldset {
    min-height: auto;
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(3, 1fr);
    /* grid-auto-rows: 100px; */
    /* grid-template-columns: repeat(auto-fit, minmax(50px , 1fr)) */
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap;  */
    /* justify-content: space-evenly;  */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */

}
div  {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    /* justify-content: center; */
    align-items: center;

}
div > input, div > label {
    display: inline;
    white-space: nowrap;
    /* vertical-align: middle; */
}
/* div > input{
    vertical-align: middle;
} */
input {
    display: block;
}

button {
    display: none;
}


@media (max-width:768px) {
    #inputAreaField,
    #outputAreaField,
    header,
    form > input,
    form > button,
    fieldset {
        width: 90%;
        padding: 0.5em;
    }
    
    
}